<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amin.baselib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--8.0未知来源的应用权限 更新App-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <!--H5-->
        <activity
            android:name="com.amin.baselib.activity.WebViewForBaseSwitchActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--强更-->
        <activity
            android:name="com.amin.baselib.activity.ForceUpdateActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--用户协议页面-->
        <activity
            android:name="com.amin.baselib.activity.WebViewNoHideBaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.amin.baselib.activity.WebViewNoHideLandscapeBaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--建议反馈-->
        <activity
            android:name="com.amin.baselib.activity.SuggestionActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.amin.baselib.webview.MyWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--隐私协议弹窗-->
        <activity
            android:name="com.amin.baselib.activity.PrivacyDialogBaseActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity_middle" />

        <!--用户协议弹窗-->
        <activity
            android:name="com.amin.baselib.activity.UserAgreementBaseActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity_middle" />

        <!--用户协议弹窗-->
        <activity
            android:name="com.amin.baselib.activity.UserAgreementLandscapeBaseActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity_middle" />


        <!--文件选择 start-->
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <!--文件选择 end-->

        <!--兼容7.x-->
        <provider
            android:name="com.amin.baselib.app.BaseFileProvider"
            android:authorities="${applicationId}.baseprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.amin.baselib.webview.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>